@media(max-width:768px){


.hero h1{

font-size:48px !important;

line-height:1.15 !important;

max-width:90%;

}


.hero p{

font-size:18px !important;

line-height:1.5;

max-width:95%;

}


.hero-content{

width:100%;

}


.reserve{

padding:14px 25px;

font-size:16px;

}


}
